body {
  background-color: rgb(240, 241, 241);
  padding: 0;
  font-family: "Mingzat", sans-serif;
  overflow-x: hidden;
}

.colorHeader {
  background-image: linear-gradient(rgb(124, 171, 204), rgb(196, 224, 247));
  margin: 5px;
  padding: 30px;
}

.colorFooter {
  background-image: linear-gradient(rgb(124, 171, 204), rgb(196, 224, 247));
}

.colorFondo3 {
  background-color: rgb(230, 206, 109);
}

.colorFondo4 {
  background-color: rgb(253, 250, 205);
}

.carousel-inner img {
  width: 60%;
  padding: 10px;
  margin: auto;
}
.carousel-inner img .carousel-inner {
  height: 500px;
}

ul li a:hover {
  background-color: rgb(206, 250, 250);
  color: rgb(238, 241, 245);
  border-radius: 7px;
}

.iconos-sociales img {
  transition: all 0.5s ease-out;
}
.iconos-sociales img:hover {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  transform: translate(0px, -5px);
}

.copyright {
  padding-top: 10px;
}

.misTrabajos {
  background-color: rgb(126, 124, 122);
  justify-content: center;
  border-radius: 7px;
  margin: 10px 10px;
  color: rgb(238, 241, 245);
}

.contenedorMapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapa {
  width: 400px;
  height: 400px;
}

.form {
  background-color: rgb(124, 171, 204);
  color: rgb(238, 241, 245);
  border-radius: 7px;
  margin: auto;
  padding: 10px;
  width: 45%;
}

.datosContacto {
  padding: 10px;
}

.textoHome {
  border-radius: 7px;
  margin-top: 15px;
  color: rgb(20, 20, 20);
}

.parrafo1 {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
}

.parrafo2 {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgb(126, 124, 122);
  color: rgb(238, 241, 245);
  align-items: center;
  margin: 10px;
  border-radius: 7px;
}

.parrafo3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
}

.imagenParrafo1 {
  transition: width 1s;
  transition: height 1s;
  width: 220px;
  height: 220px;
  padding: 5px;
}

.imagenParrafo1:hover {
  width: 400px;
  height: 400px;
}

.imagenParrafo2 {
  transition: width 1s;
  transition: height 1s;
  width: 220px;
  height: 220px;
  padding: 5px;
}

.imagenParrafo2:hover {
  width: 300px;
  height: 300px;
}

.imagenParrafo3 {
  transition: width 1s;
  transition: height 1s;
  width: 220px;
  height: 220px;
  padding: 5px;
}

.imagenParrafo3:hover {
  width: 300px;
  height: 300px;
}

@media (max-width: 320px) {
  .colorHeader h1 {
    display: none;
  }

  .tituloIndex {
    font-size: medium;
  }

  .tituloPropuestas {
    font-size: medium;
  }

  .tituloSobreMi {
    font-size: medium;
  }

  .tituloMisTrabajos {
    font-size: medium;
  }

  .tituloContacto {
    font-size: medium;
  }

  .tituloContacto2 {
    font-size: medium;
  }

  .tituloContacto3 {
    font-size: medium;
  }

  .mapa {
    width: 80px;
    height: 80px;
  }

  .textoHome {
    font-size: small;
  }

  .imagenHome {
    width: 220px;
  }

  .form {
    font-size: small;
  }

  .parrafo1 {
    display: inline-block;
    font-size: small;
  }

  .imagenParrafo1 {
    width: 160px;
    height: 190px;
  }

  .parrafo2 {
    display: inline-block;
    font-size: small;
  }

  .imagenParrafo2 {
    width: 170px;
    height: 170px;
    padding: 10px 1px;
  }

  .parrafo3 {
    display: inline-block;
    font-size: small;
  }

  .imagenParrafo3 {
    width: 170px;
    height: 170px;
    padding: 10px 1px;
  }

  .misTrabajos {
    display: inline-block;
    font-size: small;
  }

  .carousel-inner img {
    width: 70%;
  }

  .datosContacto {
    font-size: small;
  }
}
@media (max-width: 430px) {
  .colorHeader h1 {
    display: none;
  }

  .mapa {
    width: 250px;
    height: 250px;
  }

  .form {
    display: inline-block;
    margin: 1px;
    padding: 1px;
    width: 90%;
  }

  .parrafo1 {
    display: inline-block;
  }

  .parrafo2 {
    display: inline-block;
  }

  .parrafo3 {
    display: inline-block;
  }

  .misTrabajos {
    display: inline-block;
  }

  .carousel-inner img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .colorHeader h1 {
    display: none;
  }

  .form {
    width: 80%;
  }

  .parrafo1 {
    display: inline-block;
  }

  .parrafo2 {
    display: inline-block;
  }

  .parrafo3 {
    display: inline-block;
  }

  .misTrabajos {
    display: inline-block;
  }

  .imagenParrafo2 {
    width: 200px;
    height: 200px;
    padding: 10px 1px;
  }

  .imagenParrafo3 {
    width: 190px;
    height: 190px;
    padding: 10px 1px;
  }
}/*# sourceMappingURL=style.css.map */