
body{
  background-color: $bg1;
  font-family: 'Mingzat', sans-serif;
}

.colorHeader{
  background-image: linear-gradient($bg2, $bg3);
}
  
.colorFooter{
  background-image: linear-gradient($bg2, $bg3);
  }
  
.colorFondo3{
  background-color: $color1;
}
  
.colorFondo4{
  background-color: $color2;
}
  