
.contenedorMapa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapa{
    width: 400px;
    height: 400px;
}


.form{
    background-color:$bg2;
    color: $color4;
    border-radius: 7px;
    margin: auto;
    padding: 10px;
    width: 45%; 
}

.datosContacto{
    padding: 10px;
}