
.contenedorMapa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapa{
    width: 500px;
    height: 500px;
}


.form{
    background-color:$bg5;
    color: $color4;
    border-radius: 7px;
    margin: 1px;
    padding: 10px; 
}