

@media (max-width: 375px) {

.colorHeader h1 {
    display: none;
}
    
.mapa{
    width: 250px;
    height: 250px;
}

.form{
    display: inline-block;
    margin: 1px;
    padding: 1px;
}
.parrafo1{
    display: inline-block;
}
    
.parrafo2{
    display: inline-block;
}
    
.parrafo3{
    display: inline-block;
}
    
.misTrabajos{
    display: inline-block;
}
    
.carousel-inner img{
    width: 100%;
}
}
    