.parrafo1{
    display: flex;
    align-items: center;
    background-color: $bg6;
    border-radius: 7px;
    padding: 20px;
    margin: 20px;
}

.parrafo2{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: $bg5;
    color: $color4;
    align-items: center;
    margin: 20px;
    border-radius: 7px;
}

.parrafo3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg6;
    border-radius: 7px;
    padding: 30px 20px;
    margin: 20px;
}

.imagenParrafo1{
    transition: width 1s;
    transition: height 1s;
    width: 220px;
    height: 220px;
    
}
.imagenParrafo1:hover{
    width: 400px;
    height: 400px;
}

.imagenParrafo2{
    transition: width 1s;
    transition: height 1s;
    width: 220px;
    height: 220px;
    
    
}

.imagenParrafo2:hover{
    width: 300px;
    height:300px;
}

.imagenParrafo3{
    transition: width 1s;
    transition: height 1s;
    width: 220px;
    height: 220px;
    
    
}

.imagenParrafo3:hover{
    width: 300px;
    height:300px;
}