$color1: rgb(230, 206, 109);
$color2: rgb(253, 250, 205);
$color3:  black;
$color4: rgb(238, 241, 245);
$bg1:rgb(229, 246, 247);
$bg2:rgb(124, 171, 204);
$bg3:rgb(196, 224, 247);
$bg4:rgba(51, 56, 61, 0.643);
$bg5:rgb(105, 103, 101);
$bg6:rgb(255, 255, 255);
