$color1: rgb(230, 206, 109);
$color2: rgb(253, 250, 205);
$color3:  black;
$color4: #eef1f5;
$bg1:rgb(229, 246, 247);
$bg2:rgb(124, 171, 204);
$bg3:rgb(196, 224, 247);
$bg4:#33383da4;
$bg5:#3a3938;
$bg6:#ffffff;
